:root {
  --button-min-size: 24px;
  --button-icon-size: 24px;

  --button-horizontal-padding: 8px;
  --button-vertical-padding: 8px;
  --button-label-horinzontal-padding: 8px;

  --button-border-radius: var(--main-border-radius);
  --button-font-family: inherit;
  --button-font-weight: inherit;
  --button-font-size: inherit;

  --button-border-color: var(--main-border-color);
  --button-background-color: var(--main-hover-background-color);
  --button-text-color: var(--main-text-color);

  --button-focus-border-color: var(--main-focus-border-color);
}

.action {
  min-width: var(--button-min-size);
  min-height: var(--button-min-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--button-vertical-padding) var(--button-horizontal-padding);
  border-radius: var(--button-border-radius);
  font-size: var(--button-font-size);
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border-color: var(--button-border-color);
  border-width: 1px;
  border-style: solid;
  text-decoration: none;

  &.is-loading,
  &:has(> .icon:only-child) {
    padding-left: calc(var(--button-horizontal-padding) / 2);
    padding-right: calc(var(--button-horizontal-padding) / 2);
  }

  .label {
    padding: 0 var(--button-label-horinzontal-padding);
    font-family: var(--button-font-family), sans-serif;
    font-weight: var(--button-font-weight);
    line-height: var(--button-line-height);
  }

  &.disabled,
  &:disabled,
  &[disabled],
  &[aria-disabled] {
    background-color: var(--button-disabled-bg-color);
    border-color: var(--button-disabled-border-color);
    color: var(--button-disabled-text-color);
    cursor: not-allowed;
  }

  &.hover, // This classname is mainly used for the storybook, to ease demo of the hover state
  &:hover,
  &:active {
    background-color: var(--button-hover-background-color);
  }

  &.focus, // This classname is mainly used for the storybook, to ease demo of the hover state
  &:focus {
    background-color: var(--button-focus-bg-color);
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--button-focus-border-color);
  }

  &.is-loading {
    .icon,
    .label {
      display: block;
      @include accessible-hidden;
    }

    .is-loading {
      .icon {
        width: 16px;
        height: 16px;
        margin: 0 var(--button-label-horinzontal-padding);
        stroke: var(--button-text-color);
      }
    }
  }
}
