// @import '../../../styles/tooltips';

:root {
  --button-min-width: 24px;
  --button-min-height: 24px;
  --button-horizontal-padding: 16px;
  --button-vertical-padding: 8px;

  --button-border-radius: 12px;
  --button-font-family: inherit;
  --button-font-weight: inherit;
  --button-font-size: inherit;

  --button-border-color: black
  --button-bg-color: white;
  --button-text-color: black

  --button-icon-size: 24px
  --button-label-horinzontal-padding: 8px;
}

.action {


  // @include button-normal;

  min-width: var(--button-min-width);
  min-height: var(--button-min-height);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--button-vertical-padding) var(--button-horizontal-padding);
  border-radius: var(--button-border-radius);
  font-size: var(--button-font-size);
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border-color: var(--button-border-color);
  border-width: 2px;
  border-style: solid;
  text-decoration: none;

  .icon {
    width: var(--button-icon-size);
    height: var(--button-icon-size);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      display: block;
      font-size: var(--button-icon-size); // TODO: check with yann
    }
  }

  &.is-loading,
  &:has(> .icon:only-child) {
    padding-left: calc(var(--button-horizontal-padding) / 2);
    padding-right: calc(var(--button-horizontal-padding) / 2);
  }

  .label {
    padding: 0 var(--button-label-horinzontal-padding);
    font-family: var(--button-font-family);
    font-weight: var(--button-font-weight);
    line-height: var(--button-line-height);
  }

  &.disabled,
  &:disabled,
  &[disabled],
  &[aria-disabled] {
    background-color: var(--button-disabled-bg-color);
    border-color: var(--button-disabled-border-color);
    color: var(--button-disabled-text-color);
    cursor: not-allowed;
  }

  &.hover, // This classname is mainly used for the storybook, to ease demo of the hover state
  &:hover,
  &:active {
    background-color: var(--button-hover-bg-color);
  }

  &.focus, // This classname is mainly used for the storybook, to ease demo of the hover state
  &:focus {
    background-color: var(--button-focus-bg-color);
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--button-focus-ring-color);
  }

  //@include tooltip;
  //@include button-default;
  //
  //&.is-warning:not(.disabled):not([disabled]):not(:disabled):not([aria-disabled]) {
  //  @include button-default-warning;
  //}
  //&.is-danger:not(.disabled):not([disabled]):not(:disabled):not([aria-disabled]) {
  //  @include button-default-danger;
  //}
  //&.is-success:not(.disabled):not([disabled]):not(:disabled):not([aria-disabled]) {
  //  @include button-default-success;
  //}
  //
  //&.primary:not(.disabled):not([disabled]):not(:disabled):not([aria-disabled]) {
  //  @include button-primary;
  //}
  //&.secondary:not(.disabled):not([disabled]):not(:disabled):not([aria-disabled]) {
  //  @include button-secondary;
  //}
  //
  //&.primary.is-warning:not(.disabled):not([disabled]):not(:disabled):not([aria-disabled]) {
  //  @include button-primary-warning;
  //}
  //&.primary.is-danger:not(.disabled):not([disabled]):not(:disabled):not([aria-disabled]) {
  //  @include button-primary-danger;
  //}
  //&.primary.is-success:not(.disabled):not([disabled]):not(:disabled):not([aria-disabled]) {
  //  @include button-primary-success;
  //}
  //
  //&.secondary.is-warning:not(.disabled):not([disabled]):not(:disabled):not([aria-disabled]) {
  //  @include button-secondary-warning;
  //}
  //&.secondary.is-danger:not(.disabled):not([disabled]):not(:disabled):not([aria-disabled]) {
  //  @include button-secondary-danger;
  //}
  //&.secondary.is-success:not(.disabled):not([disabled]):not(:disabled):not([aria-disabled]) {
  //  @include button-secondary-success;
  //}

  &.is-loading {
    .icon,
    .label {
      display: block;
      // @include accessible-hidden;
    }

    .is-loading {
      .icon {
        width: 16px;
        height: 16px;
        margin: 0 var(--button-label-horinzontal-padding);
        stroke: var(--button-text-color);
      }
    }
  }
}
