:root {
  --main-font:
    system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen, ubuntu, cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  --main-font-size: 0.875rem; // 14px
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-font-size);
  color: var(--main-text-color);
}
