.dialog {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  &:not(.is-open) {
    display: none;
  }

  // The following should only be applied if the dialog is modal
  background-color: rgb(0 0 0 / 0.1);

  .dialog-wrapper {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);

    z-index: 10; // TODO: why 10?
    padding: var(--spacing-3) var(--spacing-2);
    overflow-y: auto;
    background-color: white;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    min-width: 20rem;
    max-width: 42rem;
    border-radius: var(--radius-small);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
    width: auto;

    > .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgb(241 245 249);
      padding: var(--spacing-3);
    }

    > .content {
      padding: var(--spacing-3);
    }
  }
}
