@use 'styles/global';

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

html, 
body {
    height: 100%;
}

#root {
    display: flex;
    height: 100%;
    container-type: size;
}



