:root {
  --main-icon-size: 24px;
}

.icon {
  width: var(--main-icon-size);
  height: var(--main-icon-size);
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: var(--main-icon-size);
    // height: var(--main-icon-size);
    aspect-ratio: 1;
    max-width: none; // necessary to workaround the max-width:100% from the reset

    stroke-width: 2;
    stroke: currentColor;
    fill: none;
  }
}
